button {
    text-align: center;
    display: block;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
    transition: all 0.3s;
  }
  #myCanvas {
    border: 1px solid rgb(143, 0, 0);
    text-align: center;
    background-color: aquamarine;
    border-radius: 25px;
  }

button:hover{
    transform: translateY(-10px);
    background-color: rgb(11, 140, 245);
}