*{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: #e9d6d6;
    color: rgb(245, 3, 3);
    
}
.notes{
    width: 50%;
    display: inline-block;
    border: solid 10px gray;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
input{
    margin: 20px;
    border-radius: 10px;
    
}
button{
    margin: 0 20px;
    background-color: rgb(33, 187, 92);
    border: solid 1px black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    transition: all 0.3s;
    
}
button:hover{
    background-color: rgb(28, 121, 15);
  transform: translateY(-10px);
}
textarea{
    padding: 10%;
    border-radius: 10px;
    background-color: aquamarine;
}
