#slider {
    width: 800px;
    height: 600px;
    margin: 100px auto 0 auto;
    overflow: hidden;
}
.slides {
    display: flex;
    height: 100%;
}

span {
    position: absolute;
    top: 35%;
    color: #000;
    font-size: 35px;
    background-color: rgba(44, 23, 23, 0.452);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.left{
    left: 40%
}
.right{
    right: 40%;
}
.startStop{
    top: 20%;
    margin: 20px;
}